html{
  font-family: 'Fira Sans', sans-serif;
}

h1 {
  text-align: center;
}

.question {
    font-size: 150%;
    font-weight: bold;
}

#quiz {
  text-align: center;
}

#canvas-div {
  text-align: center;
}

#canvas {
  margin-top: 50px;
  border: solid;
}
